.home_card{    
    width: 9em;   
    padding: 15px;
    margin: 10px;    
    background-color: #fff;
    color: #2F2F2F;
    border-radius: 20px;  
    text-decoration: none;   
    -webkit-box-shadow: 0px 0px 21px -10px rgba(154,154,154,1);
    -moz-box-shadow: 0px 0px 21px -10px rgba(154,154,154,1);
    box-shadow: 0px 0px 21px -10px rgba(154,154,154,1);      
}
.home_weather{    
    padding: 0 0 90px 0;          
    justify-content: space-evenly;    
    background-color: #34608F;
}
.news{
    color: #6e6e6e;
    justify-content: space-around;
    margin: 0 0 1em 0;
}
.home_news{        
    width: 100%;    
    background-color: #fbfbfb;
    margin: -50px 0 0 0;
    padding: 1em 0 1em 0;
    border-radius: 40px 40px 0 0;
}